.mobile {
  display: inline;
}
.desktop {
  display: none;
}

/* Common CSS in every screen size */
body {
 background-image: url("../images/bk.jpg");
 background-color: #54AEA8;
 background-size: cover;
 background-repeat: no-repeat;
}

img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header{
  margin-top: 0.2em;
  border-radius: 0.5em;
  text-align: center;
}

main {
  font-family: Optima, Copperplate, Calibri;
  font-size: 12px;
}

#container {
  width: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}


.header-img{
  display: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0;
  position: relative;
  top: 1%;
}

h1 {
  font-family: Candara, Copperplate, Optima, Calibri;
  color: #175076;
}

h2 {
  font-family: Copperplate, Optima, Calibri;
  color: #175076;
}

h3 {
  font-family: Copperplate, Optima, Calibri;
  color: #175076;
}

section p {
  font-family: Optima, Copperplate, Calibri;
  font-size: 12px;
  text-align: left;
}

.title {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.title h1 {
  color: #FFFFFF;
}
.title h3 {
  color: #FFFFFF;
}
/* ******************************** */

/* This is for the navigation links */

/* .navcontainer {
  top: 10px;
  left: 16px;
  padding: 20px 0;
  position: absolute;
} */

.logo {
  display: none;
}

.topnav_1 {
  top: 1%
}

.topnav_1 ul {
  margin-top: 0.5em;
}

.topnav_1 li {
  margin-bottom: .7em;
  list-style-type: none;
  text-align: left;
  display: block;
}

.topnav_1 a{
  font-family: Copperplate, Optima, Calibri;
  color: #71B7ED;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 0 0 0;
  border-radius: 0;
}

.topnav_1 a:hover {
  color: #ffffff;
}

.topnav_2 {
  /* top: 1% */
}

.topnav_2 ul {
  margin-top: 0.5em;
}

.topnav_2 li {
  margin-bottom: .7em;
  text-align: left;
  list-style-type: none;
  display: block;
}

.topnav_2 a{
  font-family: Copperplate, Optima, Calibri;
  color: #71B7ED;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 0 0 0;
  border-radius: 0;
}

.topnav_2 a:hover {
  color: #ffffff;
}
.topnav_2 button{
  font-family: Copperplate, Optima, Calibri;
  color: #71B7ED;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  background: none;
  border: none;
}

.topnav_2 button:hover {
  color: #ffffff;
}

/* This is for the log in */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#requestList {
  margin-left: 2em;
  margin-right: 2em;
}

#requestList li {
  margin-bottom: 0.5em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  transform: translateX(-50%);
  top: 5% ;
  width: 70%; /* Full width */
  height: 70%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  font-family: Copperplate, Optima, Calibri;
  color: #175076;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  text-align: left;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.log {
  font-family: Copperplate, Optima, Calibri;
  font-size: 16px;
  /* text-decoration-color: #175076; */
  /* color: #175076; */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.instruct {

}

/* This is for the footer and social links */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 5%;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 100px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
/* ******************************** */

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media screen and (min-width: 481px) {
  .mobile {
    display: inline;
  }

  .desktop {
    display: none;
  }

  .topnav_1 li {
    display: inline;
  }
  .topnav_2 li {
    display: inline;
  }

  .logo {
    display: none;
  }
  .header-img{
    display: inline;
  }
}
@media only screen and (min-width: 860px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: inline;
  }

  .header-img{
    display: inline;
  }

  .navcontainer h3 {
    left: 5%;
    position: absolute;
    width: 100%
  }

  .topnav_1 {
    position:  fixed;
    top: 15px;
    left: 1%;
  }

  /* Navbar links */
  .topnav_1 a{
    font-family: Copperplate, Optima, Calibri;
    color: #71B7ED;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 15px;
    box-shadow: 0 0 0 0;
    border-radius: 0;
  }

  .topnav_1 li {
    display: inline-block;
    margin-left: 1em;
  }

  .topnav_1 a:hover {
    color: #ffffff;
  }

  .topnav_2 {
    position:  fixed;
    top: 0;
    right: 16px;
  }

  /* Navbar links */
  .topnav_2 a{
    font-family: Copperplate, Optima, Calibri;
    color: #71B7ED;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 15px;
    box-shadow: 0 0 0 0;
    border-radius: 0;
  }

  .topnav_2 button{
    font-family: Copperplate, Optima, Calibri;
    color: #71B7ED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    background: none;
    border: none;
  }

  .topnav_2 li {
    display: inline-block;
  }

  .topnav_2 a:hover {
    color: #ffffff;
  }

  .topnav_2 button:hover {
    color: #ffffff;
  }


  .logo {
    display: inline;
    position: fixed;
    box-shadow: 0 0 0 0;
    width: 5%;
    height: 10%;
    left: 1em;
    top: 3%;
  }

  /* .navcontainer {
    padding: 40px 0;
    background: #182B4F;
    color: #182B4F;
  } */

  .content {
    padding: 16px;
  }

  .about {
    margin-left: 5em;
  }
  .about p {
    text-align: left
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 102px;
  }

  .title {
    display: inline;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }

  .title h1 {
    color: #FFFFFF;
  }
  .title h3 {
    color: #FFFFFF;
  }

  .avatar {
    height: 10%;
    width: 10%;
  }

  /* styles for the form element */
  .contact_form {
    background-color: #ffffff;
    padding: 1em;
    width: 60%;
    font-family: Optima, Copperplate, Calibri;
    font-size: 10px;
  }

  .book_form {
    padding: 1em;
    width: 100%;
    font-family: Optima, Copperplate, Calibri;
    font-size: 10px;
    margin-left: 1em;
    margin-right: 1em;
  }

  /* styles for paragraphs in form */
  form p {
    color: #000000;
    margin-left: inherit;
  }

  .portfolio {
    text-align: left;
    margin-left: 30px;
  }

  div.polaroid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30%
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div.container {
    /* text-align: center; */
    font-family: Verdana, "Lucida Console", "Courier New";
    /* font-size: 0.7em; */
    padding: 10px 20px;
    border-radius: 20%;
  }

  div.container_opt {
    text-align: left;
    font-family: Verdana, "Lucida Console", "Courier New";
    font-size: 0.7em;
    padding: 10px 20px;
    border-radius: 20%;
  }

  .btnlist {
    position:  inherit;
    margin-left: 16px;
    margin-bottom: 1em;
  }

  .todo {
    text-align: center;
  }

  .todo img {
    width: 50%;
    height: 50%;
  }


  footer {
    font-size: 0.7em;
    text-align: center;
    margin-top: 5%;
  }

  /* Style all font awesome icons */
  .fa {
    padding: 10px;
    font-size: 100px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }

  /* Set a specific color for each brand */

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

}
